html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Some description')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
	body
		div.container
			h3 Lab 7: MySQL & Node.js
			p  
			hr
			p
				a.btn.btn-primary(href='/add') Add New Student
	
			form(action='' method="GET")
				.form-group
					label(for="post_title") Search
					input#post_id.form-control(type='text' name='id' placeholder='SEARCH')
					br
					input.btn.btn-primary(type="submit" value="SEARCH") 
			table.table.table-bordered
				tr
					th.text-center(width='15%') Student ID
					th.text-left(width='15%') Course ID
					th.text-left(width='10%') Sect ID,
					th.text-left(width='10%') Semester
					th.text-left(width='20%') Year 
					th.text-left(width='20%') Grade
					th.text-left(width='5%') Edit
					th.text-left(width='5%') Delete
				for t in takes 
					tr
						td=t.student_id
						td=t.cid
						td=t.sect_id
						td=t.semester
						td=t.year 
						td=t.grade
						td
							a.btn.btn-warning(href='edit/' + t.student_id) Edit
						td
							a.btn.btn-danger(href='delete/' + t.student_id) Delete

